# Exclude OSX-specific files
.DS_Store

# Exclude intermediate/temp Emacs/editor files
*~
*#
.#*

# Exclude distribution-related files
build/
*.egg-info/
dist/

# Exclude test input

# Exclude test output
tests/test_output/config
tests/test_output/prodigal
tests/test_output/eprimer3
tests/test_output/blast
tests/test_output/blastscreen
tests/test_output/primersearch/

# Exclude walkthrough output
tests/walkthrough/*.json
tests/walkthrough/blastn
tests/walkthrough/eprimer3
tests/walkthrough/prodigal
tests/walkthrough/sequences/*concat*
tests/walkthrough/test.log

# Exclude Python files
*.pyc
__pycache__/

# Exclude developers' virtualenvs
venv-*

# Exclude local coverage output
.coverage
cover/

# Exclude Jupyter works in progress
.ipynb_checkpoints
*.ipynb

