# Exclude OSX-specific files
.DS_Store

# Exclude intermediate/temp Emacs/editor files
*~
*#

# Exclude pycache
diagnostic_primers/__pycache__/

# Exclude distribution-related files
build/
diagnostic_primers.egg-info/
dist/

# Exclude test output
tests/test_input/*concat*
tests/test_input/prodigal/
test_prodigal.*
test.log
testout.conf
testprodigal.conf
tests/test_input/sequences/*.fas

# Exclude developers' virtual environments
venv*/

# Exclude coverage files
cover/
.coverage