# Exclude OSX-specific files
.DS_Store

# Exclude intermediate/temp Emacs/editor files
*~
*#
.#*

# Exclude distribution-related files
build/
diagnostic_primers.egg-info/
dist/

# Exclude test output
tests/test_input/*concat*
tests/test_input/prodigal/
test_prodigal.*
test.log
testout.conf
testprodigal.conf

# Exclude Python files
*.pyc
__pycache__/

# Exclude developers' virtualenvs
venv-*

# Exclude local coverage output
.coverage
cover/